html,
body {
  margin: 0;
}

header {
  background-color: #333;
}

nav {
  display: flex;
  justify-content: center;
}

.navs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navs li {
  position: relative;
  display: inline-block;
}

.navs li a {
  display: block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
}

.navs li ul.dropdown {
  display: none;
  position: absolute;
  padding: 0;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 96px;
  z-index: 1;
}

.navs li:hover ul.dropdown {
  display: block;
}

.navs li ul.dropdown li a {
  padding: 10px 16px;
}

.navs li ul.dropdown li a:hover {
  background-color: #666;
}

/* Home */

.home-title {
  justify-self: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 54px;
  margin: 0;
}

.home-subtitle {
  justify-self: center;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 20px;
  margin: 0;
}

.back-img {
  background-image: url("/assets/background.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}